<% include ../partials/header %>

<div class="container">
    <div class="row">
        
        <div class="col-md-2">
            <p class="lead">YELP CAMP</p>
            <div class="list-group">
                <li class="list-group-item  active" >INFO 1</li>
                <li class="list-group-item" >INFO 2</li>
                <li class="list-group-item" >INFO 3</li>
                <li class="list-group-item" >INFO 4</li>
            </div>
        </div>


        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" style="width:100%; height:30em;" src="<%= campground.image %>">
                <div style="padding:10px;">
                    <h1>
                        <p>
                            <h4><em>Submitted By : <%=campground.author.username%></em></h4><br>
                            <h1><strong><%=campground.name%>
                            </strong>
                            <span style="color:red;" class="pull-right"><i class="fa fa-inr"></i> 450/night</span></h1>
                        </p>
                    </h1>
                    <h3>
                        <%= campground.des %>
                    </h3>
                    <% if(currentUser && campground.author.id.equals(currentUser._id)){ %>
                        <a href="/campgrounds/<%=campground._id%>/edit"><button class="btn btn-primary">Edit Post</button></a>
                        <form style="display:inline;" action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST">
                            <button class="btn btn-danger">Delete Post </button>
                        </form>
                    <% } %>
                    <hr>
                    <div class="well">
                        <div class="text-right">
                        <a class="btn btn-lg btn-success" href="/campgrounds/<%= campground._id %>/comments/new">Leave a Comment </a>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <% campground.comments.forEach(function(comment){ %>
                                <div><h4><strong><%= comment.author.username %></strong>
                                <span class="pull-right" style="padding-left:50px;">5 days ago</span></h4>
                                </div>
                                    <p><%= comment.text %></p>
                                    <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                                    <a class="btn btn-xs btn-success" href="/campgrounds/<%=campground._id %>/comments/<%=comment._id %>/edit">EDIT</a>
                                    <form style="display:inline;"  action="/campgrounds/<%=campground._id %>/comments/<%=comment._id %>?_method=DELETE" method="POST">
                                    <input class="btn btn-xs btn-danger" type="submit" value="DELETE">
                                    </form>
                                    <%}%>
                                <hr>
                                <% }); %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../partials/footer %>